#background {
	font-weight: 900 !important;
	text-transform: uppercase;
	background: url(../img/aa.JPG) no-repeat bottom right;
	background-size: cover;

	position: relative;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.mainBody {
	background-color: white !important;
}
